.my-acc {
    
    .my-acc-title {
        margin-left: 9rem;
        margin-bottom: 2rem;
    }

    form {
        width: 40%;
        margin: 0 auto;
        .ant-form-item-label {
            min-width: 8rem;
            margin-right: 1rem;
        }

        button {
            margin-left: 9rem;
        }
    }
}