@import '../../../../assets/styles/abstracts/variables';

header {
    position: fixed;
    top: 0;
    width: 100%;

    background: $light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 4rem;
    box-shadow: 0 2px 8px #00000026;

    a {
        color: $dark;

        &:hover {
            color: $dark;
            opacity: .8;
        } 

        &.active {
            // font-weight: 600;
            opacity: .8;
            &.cart-wa {
                // font-weight: 600;
                opacity: .8;
            }

            &.cart-woa {
                font-weight: inherit;
            }
        }
    }

    
    .logo {
        font-size: 1.1rem;
        font-weight: 600;
        background-image: url(../../../../assets/images/logo.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        a {
            display: flex;
            align-items: center;
            gap: .2rem;
        }

        .notif-badge {
            cursor: pointer;
            svg {
                font-size: 1.4rem;
                
                &:hover {
                    opacity: .8;
                }
            }

            .ant-badge-count {
                right: -.1rem;
                font-size: .7rem;
                box-shadow: none;
            }
        
        }

        svg {
            font-size: 1.2rem;
            color: $dark;
        }

        .suxl {
            display: flex;
            align-items: center;
            margin-left: 3rem;
            gap: 1rem;
            font-weight: 600;
        }

        .cart-badge {
            .ant-badge-count {
                right: -.4rem;
                font-size: .7rem;
            }

            svg {
                font-size: 1.4rem;
                color: #4e4e4e;
            }
        }
    }

    .user-x-downicon {
        display: flex;
        align-items: center;
        gap: .4rem;
        font-weight: 600;
        cursor: pointer;

        svg {
            font-size: 1rem;
        }

        &:hover {
            opacity: .8;
        } 
    }

    .user {
        margin-left: 2rem;
        display: flex;
        gap: 0 .7rem;
        text-transform: capitalize;
    }
}

.notif-text-icon {
    display: flex;
    gap: 0 .1rem;
    align-items: center;
}

.h-no-notif {
    width: 12rem;
    height: 7rem;
    display: grid;
    place-items: center;
    .ant-dropdown-menu-title-content {
        text-align: center;
    }
}