@import '../../assets/styles/abstracts/variables';

.login {

    .login-title {
        margin-bottom: 2rem;
    }

    form {
        width: 22%;
        margin: calc(100vh - 80vh) auto 0 auto;
    }

    .btn-login {
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    a {
        color: $primary;
    }

    .signup {
        float: right;
       
    }

    .invalid-credential {
        color: red;
        font-style: italic;
        margin-bottom: .5rem;
        display: block;
    }
}